// Colors
$eggshellwhite: #EAE7DC;
$darkvanilla: #D8C3A5;
$taupegray: #8E8D8A;
$pastelred: #E98074;
$jellybeanred: #E85A4F;

//Font attributes
$fontsize: 20px;
$fontfamily: 'Raleway', sans-serif;

//Media breakpoints
$tabletbreakpoint: 768px;