.main__menu-item {
    @media (min-width: $mobilebreakpoint) {
        background-color: blue;
    }
    @media (min-width: $tabletbreakpoint) {
        background-color: red;
    }
    @media (min-width: $desktopbreakpoint) {
        background-color: yellow;
    }
}