@import 'nav_menu';

/* Scale image mixin takes the scale ratio as a parameter*/
@mixin scale-image($scale-value) {
    transition: all ease-in 1s;
    &:hover {
        transform: scale($scale-value);
    }
}

.main {
    background-color: $eggshellwhite;
    display: flex;
    flex-direction: column;
}

/* Align menu images on center column */
.menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
}

/* Uses nav-transparent-hover mixin to add opacity transition on curosr hover*/
.menu-add-button {
    position: relative;
    z-index: 2;
    bottom: 5em;
    width: 50px;
    text-align: center;
    color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #ffffff;
    border-radius: 2px;
    padding: 1em;
    &:hover {
        @include nav-transparent-hover(0.5, #ffffff);
    }
}

/* Uses scale image mixin to grow image on cursor hover */

img {
    max-width: 30%;
    @include scale-image(1.1);
}