/* Mixin takes in parameter for opacity and the color*/

@mixin nav-transparent-hover($opacity, $color) {
    background-color: rgba(0, 0, 0, $opacity);
    color: $color;
}

/* Sets base opacity of background on nav bar */
header {
    .jumbotron {
        background: url('../static/bar-839577_960_720.jpg') no-repeat;
        background-size: cover;
        height: 500px;
    }

    nav {
        background-color: rgba(0, 0, 0, 0.2);
        width: 100%;
    }

    nav ul {
        text-align: center;
    }

/* Remove list styling, set as inline block elements */

    nav ul li {
        list-style: none;
        display: inline-block;
    }

/* Original source of menu css and transition code example: 
https://www.youtube.com/watch?v=eQ5SU6UN46w*/

    nav ul li a {
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Raleway', sans-serif;
        letter-spacing: 2px;
        font-size: 20px;
        font-weight: 600;
        color: white;
        padding: 1em;
        transition: all ease 0.6s;
    }


    nav ul li a:hover {
        @include nav-transparent-hover(0.4, $jellybeanred);
    }


}