@import 'components.content';

@mixin text-styles {
    color: $cardtextgray;
    font-size: $fontsize;
    font-family: $fontfamily;
}

article{
    display: flex;
    flex-direction: column;
    background-color: $innercardfillgray;
    padding: 1em;
    width: 500px;
    height: 309px;
    margin: auto;
}

.description-block-text {
    @include text-styles;
    margin: .5em 0;
}

.description-block-text {
    span {
        font-weight: bold;
    }
}

.linkedin-container {
    @include flex-row;
    align-items: center;
    margin: .5em 0;

    span {
        padding-left: 1rem;
        @include text-styles;
    }
}